REM This program stub was automatically created by the 
REM OpenOffice.org Object Inspector Extension.
REM See http://api.openoffice.org/ for more information.

Sub Main
  doc = StarDesktop.loadComponentFromURL("private:factory/swriter", "_blank", 0, Array())
%code
End Sub