// This program stub was automatically created by
// OpenOffice.org Object Inspector Extension.
// See http://api.openoffice.org/ for more information.

%includes

int main(int argc, char* argv[])
{
  %code
  return 0;
}