
    Object[] inoutParams%methodname     = %inoutparams;
    short[]  inoutIndices%methodname    = %inoutindices;
    Object   invResult%methodname = xInvocation.invoke(
      "%methodname",
      param%methodname,
      inoutIndices%methodname,
      inoutParams%methodname);
