
    Object[] param%methodname     = %inoutparams; 
    Object   invResult%methodname = xInvocation.invoke(
      "%methodname",
      param%methodname,
      inoutIndices%methodname,
      inoutParams%methodname);
