    XIntrospectionAccess xIntrospectionAccess = xIntrospection.inspect(xContext);
    Property prop%propname = xIntrospectionAccess.getProperty("%propname",
      com.sun.star.beans.PropertyConcept.ALL); 
    Object   val%propname  = xPropertySet.getPropertyValue(prop.Name);